@font-face {
  font-family: 'Montserrat';
  src: url('../public/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

* {
  margin: 0;
}