@font-face {
  font-family: 'Montserrat';
  src: url('../src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: url('../src/assets/fonts/Lato/Lato-Black.ttf') format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: rgb(95, 231, 255);
}

input::placeholder {
  color: lightgray;
  font-weight: lighter;
}
